body {
  text-align: center;
  margin:  0;
}

/*html {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}*/

.landscape {
  background-image: url("http://4vector.com/i/free-vector-cute-cartoon-landscape-vector_094135_nvw%2033%20(3).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 30px;
}

.landscape-night{
  background-image: url("");

}

@keyframes fadeoutSun{
  0% { opacity: 1}
  100% { opacity: 0}
}

@keyframes killSun{
  display:none;
}

.animate-fadeout{
  -webkit-animation: fadeoutSun 5s forwards;

}

#tugme {
  height: 100px;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.stopwatch_container {
  background-image: url("http://img08.deviantart.net/a093/i/2012/029/b/0/lady_unicorn_by_badflippy-d4nz801.png");
  background-repeat: no-repeat;
  width: 900px;
  height: 505px;
  /*padding-left: 350px;*/
  padding-top: 240px;
  /*background-color: #fcffad;*/
  margin: 0 auto 0 auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
h2 {
  font-family: 'Roboto Mono';
  font-size: 50px;
}
span {
  display: inline-block;
  width: 95px;
  text-align: center;
}
button {
  font-size: 15px;
  width: 70px;
  height: 30px;
  border-radius:10px;
  border: 5px;
  background-color: #99e6ff;
  font-family: 'Roboto Mono', ;

}
#angrycloud {
  position: absolute;
  margin-top: -247px;
  height: 133px;
  margin-left:-60px;
}

#sun{
  position:absolute;
  right:25px;
  top:25px;
  height:200px;
  width: 200px;
  z-index: 99999;
}
